@font-face {
    font-family: 'Oracul Decorative Regular';
    src: url('OraculDecorativeRegular.otf') format('opentype');
}
@font-face {
    font-family: 'Montserrat Medium';
    src: url('Montserrat-VariableFont_wght.ttf') format('opentype');
}
body {
    margin: 0; /* Remove margens padrão */
    background-color: #E4CD85;
    background-image: url("tecido.jpg");
    background-size: cover; /* Cobrir toda a página */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;

}
.overlay {
    background-color: rgba(228, 205, 133, 0.8);
    padding: 0;
    min-height: 100vh; /* Ajusta para ocupar a altura total da tela */
}
.banner {
    width: 50%;
    height: auto;
    display: block;
    margin: auto;
}
.titulo {
    font-family: 'Oracul Decorative Regular', sans-serif;
    text-align: center;
    font-size: 100px;
    color: #4E025D;
}
.texto {
    font-family: "Montserrat Medium", sans-serif;
    text-align: justify;
    font-size: 40px;
    color: #4E025D;
}
.decorative-border {
    position: relative;
    border: 1px solid #4E025D;
}
.decorative-border::before,
.decorative-border::after {
    content: "★";
    position: absolute;
    font-size: 30px;
    color: #000;
}
.decorative-border::before {
    top: -15px;
    left: -15px;
}
.decorative-border::after {
    bottom: 0;
    right: 0;
}
.sub-titulo {
    font-family: 'Oracul Decorative Regular', sans-serif;
    text-align: left;
    font-size: 100px;
    color: #D4AF37;
}
table {
    margin: auto;
}
td {
    padding: 15px;
}
.sublinhado {
    text-decoration: none;
}
.tabela-2 {
    margin: 0%;
}
.td-2 {
    padding: 0%;
}
@media only screen and (max-width: 768px) 
{ .banner { width: 100%; }
 .titulo { font-size: 50px; } 
 .sub-titulo { font-size: 50px; } 
 .texto { font-size: 20px; padding: 0 10px; } 
 table { width: 100%; } td { padding: 5px; } 
 .td-2 { text-align: center; } }
